/* src/components/Loader.module.css */
.loaderWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  width: 100%;
}

.loader {
  width: 60px;
  height: 60px;
  border: 8px solid #eee;
  border-top: 8px solid #007bff;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}
